@font-face {
    font-family: "Host-Grotesk";
    src: url(@/assets/HostGrotesk-VariableFont_wght.ttf);
}

.v-application,
.v-card,
.v-list,
.v-btn,
.v-footer,
.v-app-bar,
.v-stepper {
    color: #131317 !important;
    font-family: "Host-Grotesk";
}