/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify' with (
  $color-pack: false
);

.v-application, .v-card, .v-list, .v-btn, .v-footer, .v-app-bar{
  background-color: #f9f8f6 !important;
  color: #131317 !important;
}

// tauro-orange: #ff7c00;